In [1]:
# Bismillah

In [27]:
import pandas as pd

In [29]:
sp500 = pd.read_csv('sp500.csv')

In [32]:
sp500.head(5)
# Explain briefly as many terms as possible.
# 500 rows and 15 columns.

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.423,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.275,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [33]:
sp500.shape

(500, 15)

In [43]:
sp500 = pd.read_csv('sp500.csv', index_col = 'Symbol', usecols = [0,1,3])

In [44]:
sp500.head(3)

                       Name   Price
Symbol
MMM                  3M Co.  141.14
ABT     Abbott Laboratories   39.60
ABBV            AbbVie Inc.   53.95

In [45]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

# Selecting columns and rows of a DataFrame
    * Selecting column rquires [] operator.
    * Secting row requires iloc, loc or slicing with [] operator.

In [46]:
sp500['Price']
# sp500[column or columns]. No argument for the row or rows except in loc, iloc, or slicing.

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [47]:
sp500[['Price', 'Sector']]

KeyError: "['Sector'] not in index"

In [48]:
sp500['ABT':'ACE']
# ACE inclusive.
# Example of [] with slicing for rows. Also, due to (:), no inner [] needed for clarification.
# This kind of slicing only permitted for rows.

                       Name   Price
Symbol
ABT     Abbott Laboratories   39.60
ABBV            AbbVie Inc.   53.95
ACN               Accenture   79.79
ACE             ACE Limited  102.91

In [ ]:
# iloc: Note that we have labels for all rows and columns but still we can access them using integers in iloc.

In [49]:
sp500[:3]
# again slicing for rows with [].

                       Name   Price
Symbol
MMM                  3M Co.  141.14
ABT     Abbott Laboratories   39.60
ABBV            AbbVie Inc.   53.95

In [50]:
sp500.iloc[0]
# iloc[row or rows, column or columns]. 0 taken as an argument for row. Column argument is optional.
# Also, iloc stands for integer location and accepts only integers as index positions.

Name     3M Co.
Price    141.14
Name: MMM, dtype: object

In [51]:
sp500.iloc[0, 1]

141.14

In [61]:
sp500.iloc[[0 , 3]]

             Name   Price
Symbol
MMM        3M Co.  141.14
ACN     Accenture   79.79

In [63]:
sp500.iloc[[0, 1], 1]

Symbol
MMM    141.14
ABT     39.60
Name: Price, dtype: float64

In [64]:
sp500.iloc[0, [1, 2]]

IndexError: positional indexers are out-of-bounds

In [65]:
sp500.iloc[[0, 1], [1, 0]]

         Price                 Name
Symbol
MMM     141.14               3M Co.
ABT      39.60  Abbott Laboratories

In [66]:
i = sp500.index.get_loc('ABT')
i
# get location or index of row labeled 'ABT'
# useful when the integer index of a row is unknown. It can be then extracted with the help of the row label.

1

In [67]:
sp500.iloc[i]
# i evaluates to 1.

Name     Abbott Laboratories
Price                   39.6
Name: ABT, dtype: object

In [ ]:
# loc: labels are used in loc to extract rows and columns.

In [68]:
sp500.head(4)

                       Name   Price
Symbol
MMM                  3M Co.  141.14
ABT     Abbott Laboratories   39.60
ABBV            AbbVie Inc.   53.95
ACN               Accenture   79.79

In [72]:
sp500.loc['ABT']

Name     Abbott Laboratories
Price                   39.6
Name: ABT, dtype: object

In [73]:
sp500.loc['ABT', 'Price']
# after comma, the argument is for column.

39.6

In [74]:
sp500.loc[['ABT', 'ACN'], 'Price']

Symbol
ABT    39.60
ACN    79.79
Name: Price, dtype: float64

In [75]:
sp500.loc[['ABT', 'ACN'], ['Price', 'Book Value']]

KeyError: "['Book Value'] not in index"

In [76]:
# Other methods (.ix and .at) also exists, but we will use .loc and .iloc.

In [ ]:
# Boolean Selection (based on condition):

In [77]:
sp500['Price'] < 100
# returns a series of true and false.

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [78]:
sp500[sp500['Price'] < 100]
# outputs those rows in dataframe where the value is True.

                       Name  Price
Symbol
ABT     Abbott Laboratories  39.60
ABBV            AbbVie Inc.  53.95
ACN               Accenture  79.79
ADBE      Adobe Systems Inc  64.30
AES                AES Corp  13.61
...                     ...    ...
XYL              Xylem Inc.  38.42
YHOO             Yahoo Inc.  35.02
YUM         Yum! Brands Inc  74.77
ZION          Zions Bancorp  28.43
ZTS              Zoetis Inc  30.53

[407 rows x 2 columns]

In [79]:
sp500[sp500['Price'] < 100][['Price', 'Book Value']]

KeyError: "['Book Value'] not in index"

# Arithmatic Operations on DataFrame

In [80]:
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [2, 4, 6, 8]], columns = ['A', 'B', 'C', 'D'])
df

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12
3  2   4   6   8

In [81]:
df*2
# multiplies 2 with every element in the dataframe.

    A   B   C   D
0   2   4   6   8
1  10  12  14  16
2  18  20  22  24
3   4   8  12  16

In [82]:
df.iloc[0]

A    1
B    2
C    3
D    4
Name: 0, dtype: int64

In [83]:
df - df.iloc[0]
# subtract the zeroth row from every row in the dataframe.

   A  B  C  D
0  0  0  0  0
1  4  4  4  4
2  8  8  8  8
3  1  2  3  4

In [84]:
df

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12
3  2   4   6   8

In [86]:
subframe = df.iloc[0:2][['C', 'D']]
subframe

   C  D
0  3  4
1  7  8

In [87]:
df - subframe
# Alligns on both column and index(row) labels. 
# All non-alligning values are converted to NaN, missing values.

    A   B    C    D
0 NaN NaN  0.0  0.0
1 NaN NaN  0.0  0.0
2 NaN NaN  NaN  NaN
3 NaN NaN  NaN  NaN

In [88]:
df

   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12
3  2   4   6   8

In [89]:
a_col = df['A']
a_col

0    1
1    5
2    9
3    2
Name: A, dtype: int64

In [90]:
df.sub(a_col, axis = 0)
# .sub makes subtraction.
# axis = 0 is for column. Column A will be subtracted from every column.

   A  B  C  D
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  2  4  6

In [91]:
df.sub(a_col, axis = 1)
# axis =1 says to subtract a_col (which contains column A) from row. Since a_col is a column (A) it can be subtracted
# only from columns and not from rows.

    A   B   C   D   0   1   2   3
0 NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN

# Indexing a series

In [92]:
s = pd.Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [93]:
s.index = ['a', 'b', 'c', 'd', 'e']
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [95]:
s1 = pd.Series([0, 1, 2], index = [0, 1, 2])
s2 = pd.Series([3, 4, 5], index = ['0', '1', '2'])

In [96]:
s1
# the indices are integers.

0    0
1    1
2    2
dtype: int64

In [97]:
s2
# the indices are strings.

0    3
1    4
2    5
dtype: int64

In [98]:
s1 + s2
# the indices from both the seires cannot be matched, so the values in both the series cannot be added.
# Since Pandas cannot find the matching indices, so it copies the indices from the first series and tries to append the 
# indices from the second series. But since they are different types, it defaults back to a zero-based integer sequence,
# which results in duplicate values of indices. And finally, all the values are NaN because the operation tries to add
# the item in the first series with the integer label 0, which has the value 0 but can't find the item in the other series
# with the integer label 0, therefore, the result is NaN.
# Two Steps Procedure: First, matching and addressing the indices. Second, doing the addition.
# Once the problem has been identified, it can be easily fixed as in the following:

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [99]:
s2.index = s2.index.values.astype(int)
s2.index

Int64Index([0, 1, 2], dtype='int64')

In [100]:
s1 + s2

0    3
1    5
2    7
dtype: int64

In [101]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [102]:
s2 = s.copy()
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [103]:
s2.reindex(['a', 'f'], fill_value = 0)
# what is the need for writing 'a', when we want to put 0 only for index f?
# This is meant to fill in 0 instead of NaN.

a    10
f     0
dtype: int64

In [104]:
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [105]:
s1 = pd.Series(['red', 'green', 'blue'], index = [0, 3, 5])
s1

0      red
3    green
5     blue
dtype: object

In [106]:
s1.reindex([0, 1, 2, 3, 4, 5, 6], method = 'ffill')
# forward filling for the given indices.
# the series, s1, when printed has not changed though yet. Why? See below.

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [107]:
s1

0      red
3    green
5     blue
dtype: object

In [108]:
s1.reindex([0, 1, 2, 3, 4, 5, 6], method = 'bfill')
# backward filling for the given indices.
# the series, s1, when printed has not changed though yet. Why?

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object